extends layout

block content
  h1= title
  button(type='button', id='regionButton') 지역 관리
  button(type='button', id='categoryButton') 카테고리 관리
block script
  script(type='text/javascript', src='/javascripts/admin.js')
