extends layout

block content
  h1 Vote Your Choice!
  if !user
    button(type='button', id='logInButton') 로그인
    button(type='button', id='signUpButton') 회원가입
  else
    div= user.user_id
    div
      button(type='button', id='logOutButton') 로그아웃
      button(type='button', id='postButton') 포스팅
    if user.user_auth == 'admin'
      button(type='button', id='adminButton') ADMIN
block script
  script(type='text/javascript', src='/javascripts/index.js')
