doctype html
html
  head
    title= title
    link(rel='stylesheet', type='text/css', href='/semantic/semantic.min.css')
    block style
  body
    .ui.attached.stackable.menu
      .ui.container
        a.item(href='/')
          img(src='/images/logo.png')
        .item.ui.simple.dropdown.right
          i.user.circle.outline.icon
          .menu
            if user
                if user.userAuth == 'admin'
                  a.item(href='/admin')
                    i.user.secret.icon
                    | 관리자
                a.item(href='/post')
                  i.pencil.alternate.icon
                  |  포스팅
                a.item
                  i.user.icon
                  |  #{user.userName}
                a#logOutButton.item
                  i.power.off.icon
                  |  로그아웃
            else
                a.item(href='/auth')
                  i.sign-in.icon
                  |  로그인
                a.item(href='/users')
                  i.user.plus.icon
                  |  회원가입
    block contents

  script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
  script(src='/semantic/semantic.min.js')
  script(type='module', src='/javascripts/index.js')
  block script