extends layout

block contents
  header
    h1 로그인
  section
    div= message
    form(id='logInForm', action='/auth', method='post')
      div
        input(type='text', name='userId', id='userId', placeholder='ID')
      div
        input(type='password', name='userPassword', id='userPassword', placeholder='PASSWORD')
      div
        input(type='submit', id='logInButton', value='LOGIN')
      div
        input(type='button', id='googleLogInButton', value='구글로그인')
block script
  script(type='text/javascript', src='/javascripts/login-form.js')