extends layout

block style
  link(rel='stylesheet', href='/stylesheets/kakao-map.css')

block contents
  header
    h1= title
  section
    .map_wrap
      #map(style='width:100%;height:100%;position:relative;overflow:hidden;')
      #menu_wrap.bg_white
        .option
          div
            form(onsubmit='searchPlaces(); return false;')
              | 키워드 : 
              input#keyword(type='text', value='강릉', size='15')
              button(type='submit') 검색하기
        hr
        ul#placesList
        #pagination
    form(id='postForm', action='/post', method='post')
      div
        input(type='text', name='place_name', id='place_name', placeholder='장소')
      div
        select(name='region_name', id='region_name')
          option(value='') 선택
          each region in regionList
            option(value=region._id)= region.region_name
        input(type='text', name='detail_address', id='detail_address', placeholder='상세주소')
      div
        each tag in tagList
          input(type='checkbox', name='tag_list', class='tag_list', value=tag._id)
          | #{tag.tag_name}
      div
        textarea(name='post_contents', id='post_contents', cols='30', rows='10')
      div
        input(type='text', name='star_rating', id='star_rating', placeholder='별점')
      div
        input(type='submit', id='postButton', value='게시')
block script
  script(type='text/javascript', src='/javascripts/post-form.js')
  script(type='text/javascript', src='//dapi.kakao.com/v2/maps/sdk.js?appkey=fa0f4ce25fd2414a706ea4a8e45af254&libraries=services')
  script(type='text/javascript', src='/javascripts/kakao-map.js')