extends layout

block style
  link(rel='stylesheet', href='/stylesheets/kakao-map.css')

block contents
  .ui.raised.very.padded.text.container.segment(style='margin-top:5%;')
    h1.ui.dividing.header= title
    h5.item
      i.search.icon
      |  장소검색
    .map_wrap
      #map(style='height:100%;position:relative;overflow:hidden;')
      #menu_wrap.bg_white
        .option
          div
            form(onsubmit='searchPlaces(); return false;')
              | 키워드 : 
              input#keyword(type='text', value='', size='15')
              button(type='submit') 검색하기
        hr
        ul#placesList
        #pagination
    br

    form.ui.form(id='postForm', action='/post', method='post', enctype='multipart/form-data')
      .field
        label 지역/장소
        .fields
          .four.wide.field
            input(type='text', name='region_name', id='region_name', placeholder='지역' readonly)
          .twelve.wide.field
            input(type='text', name='place_name', id='place_name', placeholder='장소', readonly)
      .field
        label 상세주소
        input(type='text', name='detail_address', id='detail_address', placeholder='상세주소' readonly)
      .field
        label 해시태그(1개 이상)
        each tag in tagList
          .ui.column.center.aligned.stackable.divided.grid.segment.checkbox(style='margin:5px;')
            input(type='checkbox', name='tag_list', class='tag_list', value=tag._id)
            label ##{tag.tag_name}
      .field
        label 별점
        .ui.star.rating
        input#star_rating(type='hidden', name='star_rating', value='0')
      .field
        label 사진첨부
        input(type='file', name='photo_link', id='photo_link')
      .field
        label 후기 작성
        textarea(name='post_contents', id='post_contents', style="resize: none;")
      input(type='submit', id='postButton', value='등록').ui.right.floated.inverted.red.button
block script
  script(type='module', src='/javascripts/post-form.js')
  script(type='text/javascript', src='//dapi.kakao.com/v2/maps/sdk.js?appkey=fa0f4ce25fd2414a706ea4a8e45af254&libraries=services')
  script(type='text/javascript', src='/javascripts/kakao-map.js')