extends layout
include region-element

block contents
  h1= title

  input(type='text', id='region_name')
  button(type='button', id='addRegionButton') 추가하기
  button(type='button', id='deleteRegionButton') 삭제하기

  table(id='regionList')
    tr
      th 선택
      th 지역명
      th 상태코드
      th 작성자
      th 작성일
      th 수정자
      th 수정일
    if regionList
      each region in regionList
        +makeRegionElement(region) 

block script
  script(type='text/javascript', src='/javascripts/region.js')
