extends layout

block contents
  header
    h1 회원가입
  section
    div= message
    form(id='signUpForm', action='/users', method='post')
      div
        input(type='text', name='userName', id='userName', placeholder='NAME')
      div
        input(type='text', name='userId', id='userId', placeholder='ID')
      div
        input(type='password', name='userPassword', id='userPassword', placeholder='PASSWORD')
      input(type='hidden', name='authProvider', value='local')
      div
        input(type='submit', id='signUpButton', value='Create an account')
block script
  script(type='module', src='/javascripts/signup-form.js')