extends layout

block contents
  header
    h1 구글 회원가입
  section
    div= message
    form(id='signUpForm', action='/users', method='post')
      div
        input(type='text', name='user_name', id='user_name', placeholder='NAME')
      #message
      div
        input(type='text', name='user_id', id='user_id', value=`${googleUserData.user_id}`, readonly)
      input(type='hidden', name='auth_provider', value='google')
      div
        input(type='submit', id='signUpButton', value='Create an account')
block script
  script(type='module', src='/javascripts/signup-form-google.js')