extends layout

block contents
  header
    h1 구글 회원가입
  section
    div= message
    form(id='signUpForm', action='/users', method='post')
      div
        input(type='text', name='userName', id='userName', placeholder='NAME')
      #message
      div
        input(type='text', name='userId', id='userId', value=`${googleUserData.userId}`, readonly)
      input(type='hidden', name='authProvider', value='google')
      div
        input(type='submit', id='signUpButton', value='Create an account')
block script
  script(type='module', src='/javascripts/signup-form-google.js')