extends layout
include tag-element

block contents
  h1= title

  input(type='text', id='tag_name')
  button(type='button', id='addTagButton') 추가하기
  button(type='button', id='deleteTagButton') 삭제하기

  table(id='tagList')
    tr
      th 선택
      th 태그명
      th 상태코드
      th 작성자
      th 작성일
      th 수정자
      th 수정일
    if tagList
      each tag in tagList
        +makeTagElement(tag) 

block script
  script(type='text/javascript', src='/javascripts/tag.js')
